<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Gerenciador de games</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/desenvolvedores"> Desenvolvedor </a></li>
        <li><a href="/engines"> Engine </a></li>
        <li><a href="/jogos"> Jogos </a></li>
        <li><a href="/plataformas"> Plataforma </a></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>