

<form>
  <div>
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" required />
  </div>
  <div>
    <label for="ano_fundacao">ano_</label>
    <input type="number" name="ano_fundacao" id="ano_fundacao" required />
  </div>
  <div>
    <button 
      type="submit"
      formaction="/desenvolvedores"
      formmethod="POST"
    >
      Adicionar Desenvolvedores
    </button>
  </div>
</form>